@import './normalize.scss';
@import './settings/fonts';
@import './settings/colors';

@mixin nav-basic{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
}

.navigation {
    background-color: $color-background;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.login-nav,
.menu-nav {
    @include nav-basic();
}


.login-el{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    font-size: 14px;
    letter-spacing: 0;
    color: #737373;
    margin-top: 10px;
    padding: 10px;
    opacity: 1;
    &:hover{
        border: solid 1px $color-stats;
    }
}

.menu-el{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    font-size:  18px;
    letter-spacing: 0;
    color: $color-font-main;
    opacity: 1;
    margin: 9px 0 9px 10px;
    padding: 9px 10px;
    &:hover{
        border: solid 1px $color-font-main;
    }
}




.welcome {
    background-color: rgb(100, 92, 92);
    height: 200px;
}
.statistics{
    background-color: grey;
    height: 200px;
}
.steps {
    background-color: rgb(100, 92, 92);;
    height: 200px;
}
.about{
    background-color: grey;
    height: 200px;
}
.slider{
    background-color: rgb(100, 92, 92);
    height: 200px;
}
.contact{
    background-color: grey;
    height: 200px;
}
.footer{
    background-color: rgb(100, 92, 92);;
    height: 200px;
}