@import './normalize.scss';
@import './settings/fonts';
@import './settings/colors';
@import './login';



@mixin nav-basic{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

@mixin btn{
    text-transform: uppercase;
    font-family: $font-base;
    font-size: 25px;
    font-weight: 100;
    color: $color-font-main;
    border: 1px solid $color-font-main;
    cursor: pointer; 
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
}

// NAWIGACJA

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.login-nav,
.menu-nav {
    @include nav-basic();
    
}

.login-nav a{
    text-decoration: none; 
}

.login-el{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    font-size: 14px;
    letter-spacing: 0;
    color: #737373;
    margin-top: 10px;
    padding: 10px;
    opacity: 1;
    cursor: pointer;
    border: solid 1px rgb(255, 255, 255);
    &:hover{
        border: solid 1px $color-stats;
    }
}

.menu-el{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-base;
    font-size:  18px;
    letter-spacing: 0;
    color: $color-font-main;
    opacity: 1;
    margin: 9px 0 9px 10px;
    padding: 9px 10px;
    cursor: pointer;
    border: solid 1px rgb(255, 255, 255);
    &:hover{
        border: solid 1px $color-font-main;
    }
}

//WELCOME

.welcome {
    background: url('../assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: -300px;
}
.welcome .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-background {
    width: 50%;
    height: 530px;
}

.welcome-cta{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.welcome-cta-title {
    font-family: $font-base;
    font-size: 28px;
    font-weight: 300;
    color: $color-font-main;
    text-align: center;
    margin: 0 auto;
}

.welcome-cta img{
    height: 23px;
    widows: 243px;
    display: block;
    margin-bottom: 50px;
}
.welcome-cta-btns{
    display: flex;
    justify-content: space-between;
}
.welcome-cta-btn{
    height: 70px;
    width: 260px;
    @include btn();   
}

//STATISTICS
.statistics{
    background: $color-stats;
}
.statistics .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}

.stats-info-numb {
    font-family:$color-font-stats;
    font-size: 45px;
    font-weight: 200;
    margin: 0 auto;
}

.stats-info-title{
    font-family: $color-font-stats;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
}

.stats-info-txt {
    font-family: $color-font-stats;
    font-size: 13px;
    font-weight: 200;
}

//STEPS
.steps {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.steps-roadmap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps-title {
    font-family: $font-base;
    font-size: 30px;
    color: $color-font-main;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps-title img{
    height: 23px;
    width: 243px;
    display: block;
    margin-bottom: 30px;
}

.steps-roadmap {
    background: $color-background;
    width: 100%;
}

.steps-roadmap-step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;;
}

.steps-roadmap-step-line {
    width: 60px;
    height: 1px;
    background: $color-font-main;
}

.steps-roadmap .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps-roadmap-step img{
    margin-top: 20px;
}

.steps-roadmap-step-title {
    font-family: $font-base;
    font-size: 16px;
    color: $color-font-main;
}

.steps-roadmap-step-txt {
    font-family: $font-base;
    font-size: 13px;
    color: $color-font-main;
    text-align: center;
}

.steps-cta-btn {
    @include btn();
    height: 70px;
    width: 260px;
    margin: 35px 0 60px 0;
}

//ABOUT
.about{
    background-color: $color-background;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 50%;
    background-image: url('../assets/People.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 550px;
}

.about-info-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-info-sign {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.about-info-title {
    font-family: $font-base;
    font-size: 30px;
    color: $color-font-main;
}

.about-info-txt {
    font-family: $font-base;
    font-size: 20px;
    color: $color-font-main;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 2.0;
}

//SLIDER
.slider .container {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-title p {
    font-family: $font-base;
    font-size: 27px;
    color: $color-font-main;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 30px;
}

.slider-title img {
    height: 20px;
    width: 280px;
    display: block;
    margin-bottom: 35px;
}

.slider-nav {
    display: flex;
    justify-content: center;

}

.slider-nav-btn {
    width: 150px;
    height: 50px;
    font-family: $font-base;
    font-size: 16px;
    font-weight: 100;
    color: $color-font-main;
    border: 1px solid $color-font-main;
    cursor: pointer;
    // padding: 12px 31px;
    margin: 15px 10px;
}

.slider-info {
    font-family: $font-base;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
}

.slider-list {
    width: 100%;
}

.list-el {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-alt;
    margin:15px 0;
    border-bottom: 1px solid $color-font-main;
}

.list-el-about {
    width: 50%;
    height: 100%;
    text-align: left;
}

.list-el-title {
    font-weight: 200;
    font-size: 18px;
    margin: 30px 0 10px 0;
}

.list-el-goal {
    font-weight: 200;
    font-size: 13px;
    margin: 10px 0 30px 0;

}

.list-el-things {
    width: 50%;
    height: 100%;
    text-align: right;
}

.list-el-things p {
    font-weight: 200;
    font-size: 13px;
}








//CONTACT
.contact {
    width: 100%;
    height: 670px;
    display: block;
    position: relative;
    &:after {
        content: "";
        background: url('../assets/Background-Contact-Form.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}
.contact-box {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-img{
    width: 50%;
    display: block;
    height: 100%;
}

.contact-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
    font-family: $font-base;
    font-size: 33px;
    color: $color-font-main;
    margin-bottom: 15px;
}

.contact-container img{
    height: 27px;
    width: 280px;
    display: block;
    margin-bottom: 80px;
}

.contact-form-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-form-name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
    width: 50%;
}

.contact-form-name label{
    font-family: $font-base;
    color: $color-font-main;
    font-size: 15px;
    font-weight: 600;
}

.contact-form-name input {
    background: transparent;
    border:0 none;
    border-bottom: 1px solid $color-font-main;
    margin-top: 5px;
    width: 95%;
}

.contact-form-mail {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;  
}

.contact-form-mail label{
    font-family: $font-base;
    color: $color-font-main;
    font-size: 15px;
    font-weight: 600;
}

.contact-form-mail input {
    background: transparent;
    border:0 none;
    border-bottom: 1px solid $color-font-main;
    margin-top: 5px;
    width: 100%;
}

.contact-form-msg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.contact-form-msg label{
    font-family: $font-base;
    color: $color-font-main;
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0 10px 0;
}

.contact-form-msg textarea{
    background: transparent;
    border:0 none;
    border-bottom: 1px solid $color-font-main;
    margin-top: 5px;
    width: 100%;
}

.contact-form-btn{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.contact-form-btn input {
    font-family: $font-base;
    font-size: 15px;
    padding: 6px 22px;
    font-weight: 100;
    color: $color-font-main;
    border: 1px solid $color-font-main;
    cursor: pointer; 
    background: transparent;
    margin-top: 30px;
}

.footer {
    height: 5%;
}

.footer .container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}

.page-footer-copyright{
    width: 55%;
    text-align: right;
}

.page-footer-nav {
    width: 45%;
}

.page-footer-nav-list {
    display: flex;
    list-style: none;
    margin:0 auto;
    display: flex;
    justify-content: flex-end;
}

.page-footer-nav-list a{
    margin: 10px;
}

.contact-input-error {
    font-size: 10px;
    margin-top: 5px;
    color: red;
    height: 10px;
}