body {
    background-color: gray;
}

.navigation {
    background-color: grey;
    height: 200px;
}
.welcome {
    background-color: rgb(100, 92, 92);
    height: 200px;
}
.statistics{
    background-color: grey;
    height: 200px;
}
.steps {
    background-color: rgb(100, 92, 92);;
    height: 200px;
}
.about{
    background-color: grey;
    height: 200px;
}
.slider{
    background-color: rgb(100, 92, 92);
    height: 200px;
}
.contact{
    background-color: grey;
    height: 200px;
}
.footer{
    background-color: rgb(100, 92, 92);;
    height: 200px;
}